{% extends "Players/base.html" %}

{% block content %}

{% for club in primary_league_clubs %}
    <ul>
        <li>{{ club.club_name }}</li>
    </ul>
    

{% endfor %}

{% for position_value in clubs %}
    {{position_value.position_category}}
    {{ position_value.num_players|floatformat:"-1" }}

{% endfor %}

{{test}}

{% endblock content %}
<!--
{% for club in clubs %}
    <li>
        {{club.club_name}}
        {{club.leagueid.league}}
    </li>
{% endfor %}
 {{club.positionid.team_position}}