{% extends "Players/base.html" %}

{% block content %}

<form method="GET" action=".">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Year
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" name="Matest">
            {% for year in year %}
                <li><input class="dropdown-item" type="submit" name="get_request_year" value="{{year.year}}"></li>
            {% endfor %}
        </ul>
    </div> 
</form>


<div>
    <form method="GET" action=".">
        <input type="text" name="get_request_club" placeholder="Search Posts"/>
        <input type="submit">
    </form>
</div>
<table>
    <tr>
        <td>NAME</td>
        <td>ATT</td>
        <td>MID</td>
        <td>DEF</td>
    </tr>
    {% for stats in page_obj %}
            <tr>
                <td><a href="{% url 'Players:club_detail' request_year stats.clubid %}">{{stats.club_name}}</a></td>
                <td>{{stats.att}}</td>
                <td>{{stats.mid}}</td>
                <td>{{stats.def}}</td>
        
            </tr>
    {% endfor %}
</table>
{% endblock content %}
<!--
{% for club in clubs %}
    <li>
        {{club.club_name}}
        {{club.leagueid.league}}
    </li>
{% endfor %}
 {{club.positionid.team_position}}