{% extends "Players/base.html" %}

{% block content %}
<table>
    <tr>
        <td>NAME</td>
        <td>ATT</td>
        <td>MID</td>
        <td>DEF</td>
    </tr>
    {% for club in test %}
            <tr>
                <td><a href="/players/club_detail/{{request_year}}/{{club.clubid}}">{{club.club_name}}</a></td>
                <td>{{club.att}}</td>
                <td>{{club.mid}}</td>
                <td>{{club.def}}</td>
        
            </tr>
    {% endfor %}
</table>
{% endblock content %}
<!--
{% for club in clubs %}
    <li>
        {{club.club_name}}
        {{club.leagueid.league}}
    </li>
{% endfor %}
 {{club.positionid.team_position}}