{% extends "Players/base.html" %}
{% block content %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Year
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for year in year %}
            <li><a class="dropdown-item" href="{% url 'Players:club_detail' year.year club.clubid %}">{{year.year}}</a></li>
        {% endfor %}
    </ul>
</div>
    {{clubname}}

    {{club.clubid}}
    {{club.club_name}}

    {%for positions in aggregate_scores%}
        {{positions.position_category}}
        {{ positions.num_players|floatformat:"-1" }}

    {% endfor %}

    {%for player in players%}
        {{player.sofifa_id.short_name}}
        {{player.age}}
        {{ player.overall }}

    {% endfor %}
{% endblock content %}