{% extends "Players/base.html" %}
{% block content %}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" 
        data-bs-toggle="dropdown" aria-expanded="false">
        Year
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for year in year %}
        <li><a class="dropdown-item" href="{% url 'Players:club_detail' year.year club.clubid %}">{{year.year}}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    {{club.club_name}}
    {%for positions in aggregate_scores%}
        {{positions.position_category}}
        {{ positions.num_players|floatformat:"-1" }}
    {% endfor %}   
</div>
    <table>
        <tr>
            <td>NAME</td>
            <td>AGE</td>
            <td>OVR</td>
            <td>POT</td>
            <td>POSITION</td>
        </tr>
        {%for player in players%}
        <tr>
            <td><a href="{% url 'Players:player_detail' request_year player.sofifa_id.sofifa_id %}">{{player.sofifa_id.short_name}}</a></td>
            <td>{{ player.age }}</td>
            <td>{{ player.overall }}</td>
            <td>{{ player.potential }}</td>
            <td>{{ player.positionid.position }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}