{% extends "Players/base.html" %}
{% load humanize %}

{% block content %}

<form method="GET" action=".">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Year
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" name="Matest">
            {% for year in year %}
                <li><input class="dropdown-item" type="submit" name="get_request_year" value="{{year.year}}"></li>
            {% endfor %}
        </ul>
    </div> 
</form>

        <div>
            <form method="GET" action="{% url 'Players:search_players' %}">
                <input type="search" name="get_request_player" placeholder="Search Players"/>
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>

        <table>
            <tr>
                <td>NAME</td>
                <td>AGE</td>
                <td>OVR</td>
                <td>POT</td>
                <td>TEAM</td>
                <td>JOINED</td>
                <td>CONTRACT TILL</Td>
                <td>VALUE</td>
                <td>WAGE</td>
            </tr>
            {% for player in page_obj %}
                    <tr>
                        <td><a href="{% url 'Players:player_detail' request_year player.sofifa_id.sofifa_id %}">{{player.sofifa_id.short_name}}</a></td>
                        <td>{{ player.age }}</td>
                        <td>{{ player.overall }}</td>
                        <td>{{ player.potential }}</td>
                        <td>{{ player.club_name }}</td>
                        <td>{{ player.joined }}</td>
                        <td>{{ player.contract_valid_until }}</td>
                        <td>£{{ player.value_eur|intcomma }}</td>
                        <td>£{{ player.wage_eur|intcomma }}</td>
                
                    </tr>
            {% endfor %}
        </table>

{% endblock content %}
