{% extends "Players/base.html" %}

{% block content %}
<!-- Use crispy forms to fix up the template https://www.youtube.com/watch?v=q4jPR-M0TAQ&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&index=8 40:00-->
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account?
                <a class="ml-2" href="{% url 'users:login' %}">Sign In</a>
            </small>

        </div>

    </div>

{% endblock content %}